@model IEnumerable<WebApplication6.Models.Outputs>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OutputId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time.Shift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Machine.MachineNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time.Tstart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time.Tend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toy.ToyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputQTY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defect.DefectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefectQty)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OutputId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutputDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time.Shift)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Machine.MachineNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time.Tstart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time.Tend)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Toy.ToyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutputQTY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Crate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Defect.DefectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefectQty)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OutputId">Edit</a>
                </td>
                <td>
                    <a class="create-downtime-link" href="/Downtime/Create?outputId=@item.OutputId">Downtime</a>
                </td>
            </tr>
    }
    </tbody>
</table>
<script>
    $
    $(document).ready(function () {
        const outputIdField = $("#OutputId");
        $("form").submit(function (event) {
            outputIdField.val(getMachineIdFromURL());
        });
        function getMachineIdFromURL() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            return urlParams.get("outputId");
        }
    });
    $(".table").addClass("compact nowrap w-100");
</script>
